body{
  background-color: #000000;
  height:100vh;
}
#four_line{
  width:70vmin;
  // top:50%;
  padding-top: 25vmin;
  .balls{
    height:8vmin;
    width:8vmin;
    background-color: #ffffff;
    border-radius: 4vmin;
    padding:0;
    .slot {
      width: 8vmin;
      height: 8vmin;
      border-radius: 50%;

      &.red {
        background: radial-gradient(circle at 7vmin 7vmin, #e74c3c, #862319);
      }

      &.green {
        background: radial-gradient(circle at 7vmin 7vmin, #1abc9c, #0F5F4F);
      }
    }
  }
}